<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Hawaii Campaign Spending Data</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li data-page='durable-assets' class="active"><a href="/">Durable Assets</a></li>
      <li data-page='campaign-spending'><a href="/candidate_spending.html">Candidate Spending</a></li>
      <li class="has-dropdown">
        <a href="#">Resources</a>
        <ul class="dropdown">
          <li><a href="https://docs.google.com/document/d/1VC0of6-rLtFrLmpBS8xWDLjLvtoPOr9LBfDJLYy_4fw/edit?usp=sharing">Campaign Spending Data Primer</a></li>
          <li><a href="http://civic.celerator.org/">Civic*Celerator</a></li>
          <li><a href="http://ags.hawaii.gov/campaign/">Campaign Spending Official Website</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>
