---
---
<!doctype html>
<html class="no-js" lang="en"> <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hawaii Campaign Spending Data</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    {% if site.internet %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,700,600' rel='stylesheet' type='text/css'>
    {% endif %}
    <script src="js/vendor/modernizr.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>-->
    <script>
//      WebFont.load({
//        google: {
//          families: ['Open Sans']
//        }
//      });
    </script>
    {% stylesheet app %}
  </head>
  <body id='candidate_spending_container'>
    {% if site.internet %}
    <a href="https://github.com/axelson/campaign_spending"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
    {% endif %}
    <!-- Top Nav -->
    <div id="nav">
      <div class="row">
        <div class="large-12 columns">
          <div class="nav-container">
            <a href="/" class="name">Hawaii Campaign Spending Data</a>
            <span id="mini-legend" class="unselectable">key</span>
            <div id="mini-legend-body" class="legend mini">
              <table>
                <tr data-category='communication'>
                  <td><div class="key communication"></div></td>
                  <td><div class='subheader'>Communication & Outreach</div></td>
                </tr>
                <tr data-category='overhead'>
                  <td><div class='key overhead'></div></td>
                  <td><div class='subheader'>Overhead</div></td>
                </tr>
                <tr data-category='staff'>
                  <td><div class='key staff'></div></td>
                  <td><div class='subheader'>Staff & Professional Services</div</td>
                </tr>
                <tr data-category='contributions'>
                  <td><div class='key contributions'></div></td>
                  <td><div class='subheader'>Contributions</div></td>
                </tr>
                <tr data-category='fees'>
                  <td><div class='key fees'></div></td>
                  <td><div class='subheader'>Taxes & Fees</div>
                  </td>
                </tr>
                <tr data-category='contributions'>
                  <td><div class='key contributions'></div></td>
                  <td><div class='subheader'>Other</div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div id="viz_nav_container">
          <div id="viz_nav_inner_container">
            <div class="viz_nav year selected" data-name="year" data-year='2014'>
              <div class="spacer">
                <img class="left-arrow clickable flip-horizontal" src="images/year_arrow_transparent.png" />
                <span class="year-text">2014</span>
                <img class="right-arrow" src="images/year_arrow_disabled.png" />
              </div>
            </div>
            <div class="viz_nav btn" data-name="office">
              <div class="sub_header">View by</div>
              <div class="header">Office</div>
            </div>
            <div class="viz_nav btn" data-name="expenditure">
              <div class="sub_header">View by</div>
              <div class="header">Expenditure</div>
            </div>
            <div class="viz_nav btn" data-name="candidate">
              <div class="sub_header">View by</div>
              <div class="header">Candidate</div>
            </div>
            <div class="viz_nav btn" data-name="party">
              <div class="sub_header">View by</div>
              <div class="header">Party</div>
            </div>
            <div class="viz_nav btn" data-name="island">
              <div class="sub_header">View by</div>
              <div class="header">Island</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="candidate_search_container">
          <input class="autocomplete" placeholder="Search for a candidate" style="display: none;"></input>
        </div>
      </div>
    </div>

    <br />

    <!--**************  Legend  ***************-->
    <div class="row">
      <div class="large-12 columns">
        <div id="vis-full-key">
          <div class="row">
            <div class="large-4 columns explanation">
              <p>
                Circle <b>size</b> corresponds to the amount spent in US dollars.
              </p>
            </div>
            <div class="large-7 large-offset-1 columns explanation">
              <p>Circle <b>color</b> corresponds to a general category of spending.</p>
              <p>Within each general category there are more specific breakdowns (as labeled.)</p>
            </div>
          </div>
          <div id="vis-key-bottom" class="row">
            <div class="large-4 columns">
              <!-- Key for circle size -->
              <div id="size-legend-container"></div>
            </div>
            <div class="large-7 large-offset-1 columns">
              <!-- Key for circle color -->
              <!-- TODO: Change legend class to legend-color or something -->
              <div class='legend explanation'>
                <table>
                  <tr data-category='communication'>
                    <td><div class="key communication"></div></td>
                    <td>
                      <div class='subheader'>
                        Communication & Outreach
                      </div>
                      <div class='subcategories'>
                        Advertising, Candidate Fundraiser Tickers, Postage/Mailing, Printing, Surveys, Polls & Voter Lists
                      </div>
                    </td>
                  </tr>
                  <tr data-category='overhead'>
                    <td><div class='key overhead'></div></td>
                    <td>
                      <div class='subheader'>
                        Overhead
                      </div>
                      <div class='subcategories'>
                        Durable Assets, Food & Beverage, Insurance, Lease/Rent, Office Supplies, Travel & Lodging, Utilities, Vehicle
                      </div>
                    </td>
                  </tr>
                  <tr data-category='staff'>
                    <td><div class='key staff'></div></td>
                    <td>
                      <div class='subheader'>
                        Staff & Professional Services
                      </div>
                      <div class='subcategories'>
                        Employee Services, Professional Services
                      </div>
                    </td>
                  </tr>
                  <tr data-category='contributions'>
                    <td><div class='key contributions'></div></td>
                    <td>
                      <div class='subheader'>
                        Contributions
                      </div>
                      <div class='subcategories'>
                        Contribution to Community Organization, Contribution to Political Party, Hawaii Election Campaign Fund
                      </div>
                    </td>
                  </tr>
                  <tr data-category='fees'>
                    <td><div class='key fees'></div></td>
                    <td>
                      <div class='subheader'>
                        Taxes & Fees
                      </div>
                      <div class='subcategories'>
                        Bank Charges & Adjustments, Filing Fee, Taxes
                      </div>
                    </td>
                  </tr>
                  <tr data-category='contributions'>
                    <td><div class='key contributions'></div></td>
                    <td>
                      <div class='subheader'>
                        Other
                      </div>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--************  Vizualization Container  ***************-->
    <div class="row full-width">
      <div id="vis-container" class="large-12 columns">
        <div id="vis"></div>
      </div>
    </div>

    {% javascript application %}
    {% javascript vis %}

    {% if site.internet %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50186636-1', 'axelson.github.io');
      ga('send', 'pageview');

    </script>
    {% endif %}

    <div id="candidate_modal" class="reveal-modal" data-reveal>
      <div class='candidate_info'>
        <div class='candidate_name'></div>
        <div class='candidate_subtitle'>
          <span class='current_year'></span>, <span class='candidate_office'></span>
        </div>
        <div class='expenditure_category_title'></div>
        <div class='powerballot_link_container'>
          <a class='powerballot' target='_blank' style="display: none;">More Info</a>
        </div>
      </div>
      <div id="candidate_vis"></div>

      <hr>
      <a class="close-reveal-modal">&#215;</a>
      <div class='expenditure-loading'>
        <img src='images/spinner.gif' />
        Expenditure Records Loading
      </div>
      <div class='hidden expenditure-error'>
        Error loading expenditures from Socrata
      </div>
      <div id='expenditure-record-table-container'></div>
      <div id='expenditures-table-explanation'>
        Displays the top 20 records sorted by amount for this category
      </div>
    </div>
    <script>
      $(document).foundation();
    </script>
    <div class='hidden' id='app-info' data-page='campaign-spending' />
  </body>
</html>
