svg {border: 1px solid gray;}
.row.full-width {
  width: 100%;
  max-width: 100%;
}

#chart_div { margin-left: 100px; }
.asset:hover { opacity: 1; }
.asset {
  cursor: pointer;
  opacity: 0.75;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.filter-buttons .selected { background-color: #126582; }
/* TODO: make into general class */
.y-axis-buttons .selected { background-color: #126582; }

#candidate_spending_container { background-color: #ddd; }
#candidate_spending_container #viz_nav_container {
  display: table;
  border-spacing: 20px;
}
#candidate_spending_container #viz_nav_inner_container { display: table-row; }
#candidate_spending_container .viz_nav {
  display: table-cell;
  background-color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 25px;
  cursor: pointer;
}
#candidate_spending_container .viz_nav .sub_header {
  font-size: 12px;
}
