body {
  font-family: 'Open Sans', sans-serif;
}

/* Will be removed later */
svg {border: 1px solid gray;}
.row.full-width {
  width: 100%;
  max-width: 100%;
}

#chart_div { margin-left: 100px; }
.asset:hover { opacity: 1; }
.asset {
  cursor: pointer;
  opacity: 0.75;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.filter-buttons .selected { background-color: #126582; }
/* TODO: make into general class */
.y-axis-buttons .selected { background-color: #126582; }

#candidate_spending_container { background-color: #ddd; }
#candidate_spending_container #viz_nav_container {
  display: table;
  border-spacing: 20px;
}
#candidate_spending_container #viz_nav_inner_container { display: table-row; }
#candidate_spending_container .viz_nav {
  display: table-cell;
  background-color: white;
  padding: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 25px;
  cursor: pointer;
}
#candidate_spending_container .viz_nav .sub_header {
  font-size: 12px;
}

/* Viz Colors */
svg circle.overhead {
  fill: #689890;
}
svg circle.contributions {
  fill: #3b6e71;
}
svg circle.communication {
  fill: #73884f;
}
svg circle.staff {
  fill: #73884f;
}
svg circle.fees {
  fill: #9ab996;
}
svg circle.other {
  fill: #6c6b6b;
}

.titles.header { text-transform: uppercase; font-weight: 700; }
.titles.amount { font-style:italic; }
#expenditure_tooltip {
  padding: 8px;
  color: black;
  background: #ccc;
  background-color: rgba(255,255,255,0.5);
}
#expenditure_tooltip .candidate { font-weight: 700; }
#expenditure_tooltip .name { font-weight: 700; }
#expenditure_tooltip .amount { font-style:italic; font-weight: 600; }
#expenditure_tooltip .inner_tooltip {
  background-color: rgba(255,255,255,0.7);
  padding: 15px;
}
